<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humanverse.humanverseapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Humanverse">
        <activity
            android:name=".feature.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".feature.service.AddServiceActivity"
            android:parentActivityName=".feature.home.ui.ui.HomeActivity"
            android:exported="false"
            android:label="Add service" />
        <activity
            android:name=".feature.service.ServiceActivity"
            android:exported="false"
            android:parentActivityName=".feature.home.ui.ui.HomeActivity"
            android:label="Available car service&apos;s" />
        <activity
            android:name=".feature.home.ui.ui.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home_dashboard" />
        <activity
            android:name=".feature.auth.ui.RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.Humanversenoction" />
        <activity
            android:name=".feature.auth.ui.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Humanversenoction" />
        <activity
            android:name=".feature.splash.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>